<h1>Messages#index</h1>
<p>Find me in app/views/conversations/show.html.erb</p>

<h3>Conversation <%= @conversation.id %>

<% Message.where(conversation_id: @conversation.id).each do |m| %>
  <% if (Recipient.find(m.sender_id).user.id == current_user.id) %>
    <div class="panel panel-success">
  <% else %>
    <div class="panel panel-info">
  <% end %>
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Recipient.find(m.sender_id).user.name %>
      </h3>
    </div>
    <div class="panel-body">
      <%= m.body %>
    </div>
  </div>
  <br/>
<% end %>
